adapta-gtk-theme
betterlockscreen
chromium-widevine
dmenu2
easytag
feh
firefox
freac
gnome-control-center
gnome-keyring
gnome-shell-extensions
gvfs
gvfs-goa
gvfs-google
gvfs-mtp
gvfs-nfs
gvfs-smb
hplip
i3-gaps
i3blocks
i3exit
i3lock-color
jack2
lightdm
lightdm-settings
lightdm-slick-greeter
mpc
mpd
mpv
mupdf-gl
mupdf-tools
nautilus
ncmpcpp
rofi
rofi-emoji
rofi-mpd
pcmanfm
picom
pinentry-rofi
polkit-gnome
polkit-qt5
pulseaudio-jack
qjackctl
qutebrowser
terminus-font
ubuntu-wallpapers
udiskie
urxvt-font-size-git
urxvt-resize-font-git
urxvt-perls
whipper
xbanish-timeout-git
xcape
xclip
xdg-user-dirs-gtk
xfce4-notifyd
xfce4-power-manager
xorg
xorg-xbacklight
xorg-xinit
xss-lock
zathura
zathura-pdf-mupdf
