;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝

[color]
;; Active Colors
bg = #68192330
fg = #f8f8f2

[global/wm]
; Adjust the _NET_WM_STRUT_PARTIAL top value
; Used for top aligned bars
margin-bottom = 0

; Adjust the _NET_WM_STRUT_PARTIAL bottom value
; Used for bottom aligned bars
margin-top = 8

[bar/mainbar0]
inherit = bar/barbase
tray-position = left
tray-detached = false
tray-maxsize = 28
tray-offset-x = 1355
tray-offset-y = 0
tray-padding = 5
tray-scale = 1.0
tray-background = #192330

[bar/barbase]
width = 1
monitor = ${env:monitor}
offset-x = 0
offset-y = 43
height = 35
bottom = false

background = ${color.bg}
foreground = ${color.fg}

radius-top = 0.0
radius-bottom = 12.0

padding = 3
module-margin-left = 2
module-margin-right = 0
modules-right = space

font-0 = "mononoki Nerd Font:size=20:weight=Regular;3"

enable-ipc = true

[settings]

throttle-output = 5
throttle-output-for = 10

screenchange-reload = false

compositing-background = source
compositing-foreground = over
compositing-overline = over
compositing-underline = over
compositing-border = over
pseudo-transparency = false


;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/space]
type = custom/text

content = " "
content-foreground = ${color.fg}

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
