;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝

[color]
;; Active Colors
bg = #ee192330
fg = #cdcecf
fg-alt = #9C9C9C

trans = #00000000
white = #f2f2f2
black = #393b44

;; Material Colors
red = #c94f6d
pink = #F48FB1
purple = #b8a1e3
deep-purple = #9d79d6
indigo = #3949ab
blue = #719cd6
light-blue = #84cee4
cyan = #59f0ff
teal = #87DFEB
green = #81b29a
light-green = #58cd8b
lime = #c0ca33
yellow = #dbc074
light-yellow = #ffe37e
grey = #393b44
light-gray = #475072

[global/wm]
; Adjust the _NET_WM_STRUT_PARTIAL top value
; Used for top aligned bars
margin-bottom = 0

; Adjust the _NET_WM_STRUT_PARTIAL bottom value
; Used for bottom aligned bars
margin-top = 8

[bar/mainbar0]
inherit = bar/barbase

[bar/mainbar1]
inherit = bar/barbase

[bar/mainbar2]
inherit = bar/barbase

[bar/barbase]
width = 100%:-16
monitor = ${env:monitor}
offset-x = 8
offset-y = 8
height = 35
fixed-center = true
bottom = false

background = ${color.bg}
foreground = ${color.fg}

radius-top = 12.0
radius-bottom = 12.0

padding = 3
module-margin-left = 2
module-margin-right = 0

font-0 = "Monoid Nerd Font:size=12:style=Retina;3"
modules-left = workspace
modules-center =
modules-right = systray pacman pulseaudio network battery backlight date

enable-ipc = true

[settings]

throttle-output = 5
throttle-output-for = 10

screenchange-reload = false

compositing-background = source
compositing-foreground = over
compositing-overline = over
compositing-underline = over
compositing-border = over
pseudo-transparency = false

;; Modules

[module/workspace]
type = custom/script
exec = xmonad-log
tail = true

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/ewmh]
type = internal/xworkspaces

pin-workspaces = false
enable-click = true
enable-scroll = true

; icon-[0-9]+ = <desktop-name>;<icon>
; NOTE: The desktop name needs to match the name configured by the WM
; You can get a list of the defined desktops using:
; $ xprop -root _NET_DESKTOP_NAMES
; Note: Neither <desktop-name> nor <icon> can contain a semicolon (;)
icon-0 = ;
icon-1 = ;
icon-2 = ;
icon-3 = ;
icon-4 = 輸;輸
icon-5 = ;
icon-6 = ;
icon-7 = ﮕ;ﮕ
icon-8 = ;
icon-default = ♟

; Available tags:
;   <label-monitor>
;   <label-state> - gets replaced with <label-(active|urgent|occupied|empty)>
; Default: <label-state>
format = <label-state>

; Available tokens:
;   %name%
; Default: %name%
label-monitor = %name%

; Available tokens:
;   %name%
;   %icon%
;   %index%
; Default: %icon% %name%
label-active = %icon%
label-active-foreground = #ffffff
label-active-background = #80000000
label-active-underline = #fba922
label-active-padding = 2

; Available tokens:
;   %name%
;   %icon%
;   %index%
; Default: %icon% %name%
label-occupied = %icon%
label-occupied-underline = #555555
label-occupied-padding = 2

; Available tokens:
;   %name%
;   %icon%
;   %index%
; Default: %icon% %name%
label-urgent = %icon%
label-urgent-foreground = #000000
label-urgent-background = #EE4F84
label-urgent-underline = #9b0a20
label-urgent-padding = 4

; Available tokens:
;   %name%
;   %icon%
;   %index%
; Default: %icon% %name%
label-empty = %icon%
label-empty-foreground = #55
label-empty-padding = 2

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/pulseaudio]
type = internal/pulseaudio
use-ui-max = false

    format-volume = <ramp-volume> <label-volume>

label-volume = %percentage%%

label-muted = ﱝ
label-muted-foreground = ${color.fg-alt}
label-muted-font = 2

ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 
ramp-volume-3 = 

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/date]
type = internal/date
interval = 1.0

date = "%d.%m.%Y"
time = "%H:%M"

format = <label>
label = %date% - %time%

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/network]
type = internal/network
interface = wlan0

interval = 1.0
accumulate-stats = true
unknown-as-up = true

format-connected = <label-connected>
format-disconnected = <label-disconnected>
format-packetloss = <label-packetloss>

label-connected = 
label-disconnected = 
label-disconnected-foreground = ${color.red}
label-packetloss = 

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_


[module/backlight]
type = internal/backlight
card = intel_backlight
enable-scroll = true

format = <ramp> <label>

label = %percentage%%

ramp-0 = 
ramp-1 = 
ramp-2 = 

bar-width = 10
bar-indicator = |
bar-fill = ─
bar-empty = ─

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/battery]
type = internal/battery

full-at = 99

battery = BAT0
adapter = ADP1

poll-interval = 5

time-format = %H:%M

format-charging = <animation-charging> <label-charging>

format-discharging = <ramp-capacity> <label-discharging>

format-full = <ramp-capacity>

label-charging = %percentage%%

label-discharging = %percentage%%

label-full = Fully charged

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 

bar-capacity-width = 10

animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 
animation-charging-framerate = 750

animation-discharging-0 = 
animation-discharging-1 = 
animation-discharging-2 = 
animation-discharging-3 = 
animation-discharging-4 = 
; Framerate in milliseconds
animation-discharging-framerate = 500

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/systray]
type = custom/text

content = 
content-foreground = ${color.fg}

click-left = $HOME/.xmonad/polybar/polybar_tray.sh
;click-right = $HOME/.xmonad/polybar/polybar_tray.sh

;click-left = pkill trayer || trayer --edge bottom --monitor primary --align right --iconspacing 10 --padding 8 --transparent true --alpha 200 --tint 0x192330 --expand true --SetDockType true --SetPartialStrut true --height 35


;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/pacman]
type = custom/script
exec = ~/.xmonad/polybar/updates-pacman-aurhelper.sh
content-foreground = ${color.green}
interval = 600
click-left = "pamac-manager --updates"
click-right = ~/.xmonad/polybar/updates-pacman-aurhelper.sh

