@import url('./nightfox.css');

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: @theme-fg0;
}

tooltip {
    background: @theme-bg1;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: @theme-cyan-bright;
}

tooltip label {
    color: @theme-fg1;
}

#workspaces button {
    padding: 5px;
    color: @theme-fg3;
    margin-right: 5px;
}

#workspaces button.active {
    color: @theme-fg1;
}

#workspaces button.focused {
    color: @theme-fg1;
    background: @theme-red;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: @theme-bg1;
    background: @theme-green;
    border-radius: 10px;
}

#workspaces button:hover {
    background: @theme-bg1;
    color: @theme-cyan-bright;
    border-radius: 10px;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#cpu,
#disk,
#memory,
#backlight {
    opacity: 0.8;
    background: @theme-bg1;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 1px solid @theme-bg1;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: @theme-bg1;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-caffeine {
    color: @theme-cyan-bright;
    border-radius: 10px 0px 0px 10px;
    border-right: 0px;
    margin-left: 10px;
}

#custom-language {
    color: @theme-red;
    border-left: 0px;
    border-right: 0px;
}

#cpu {
    border-radius: 10px 0px 0px 10px;
}

#custom-updates {
    color: @theme-orange-bright;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: @theme-cyan-bright;
    border-radius: 0px 10px 10px 0px;
    margin-left: 0px;
    margin-right: 10px;
    border-right: 0px;
}

#network {
    color: @theme-yellow-bright;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio {
    color: @theme-blue-bright;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: @theme-blue-bright;
    border-left: 0px;
    border-right: 0px;
}

#backlight {
    color: @theme-yellow-bright;
}

#battery {
    color: @theme-green;
    border-radius: 0;
    margin-right: 0px;
    margin-left: 0px;
    border-left: 0px;
}

#custom-weather {
    border-radius: 10px 10px 10px 10px;
    border-right: 0px;
    margin-left: 10px;
}
