configuration {
	modi: "windowcd,ssh,drun,combi,emoji";
	show-icons: true;
	terminal: "alacritty";
	case-sensitive: false;
	combi-modi: "run,drun";
	dpi: 96;
	theme: "~/.config/rofi/palenight.rasi";
	display-window: "";
	display-windowcd: "";
	display-run: "ﰌ";
	display-ssh: "  ";
	display-drun: "ﰌ";
	display-combi: "RUN";
}
