[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=/usr/bin/qutebrowser %u
Name=QuteBrowser
Comment=Custom definition for QuteBrowser
